<a href="https://colab.research.google.com/github/syedmuhammadali0/basic_python_syntax/blob/main/my_info_m_to_km.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("enter your name:")
age = int(input("enter your age:"))
email = (input("enter your name:"))
print(name)
print(age)
print(email)
fav_movie = ["wolf of wall street","salaar","john wick"]
print(fav_movie)
celsius = int(input("enter temperature in celsius:"))
fahrenheit = int(celsius * 9/5) + 32
print(f"{celsius:.2f} degree celsius is equal to {fahrenheit:.2f} degree farenheit")
thisdict = {
    "brand" : "ford",
    "model" : "mustang",
    "year" : 1964}

enter your name:alishba
enter your age:21
enter your name:ali
alishba
21
ali
['wolf of wall street', 'salaar', 'john wick']
enter temperature in celsius:20
20.00 degree celsius is equal to 68.00 degree farenheit

In [13]:
def km_to_m():

  kilometer= int(input(" enter your number in kilometer: "))
  meter = kilometer * 1000
  print(f"{kilometer} kilometer is equal to {meter} meters")

km_to_m()

 enter your number in kilometer: 1
1 kilometer is equal to 1000 meters

m-> km

In [18]:
def m_to_km():

  meter = int(input("enter your numer in meter:"))
  kilometer = meter / 1000
  print(f"{meter} meters is equal to {kilometer} kilometer")

m_to_km()

enter your numer in meter:20
20 meters is equal to 0.02 kilometer

m -> cm

In [19]:
def m_to_cm():

  meter = int(input("enter your number in meter:"))
  centimeter = meter * 100
  print(f"{meter} meter is equal to {centimeter} centimeter")

m_to_cm()

enter your number in meter:25
25 meter is equal to 2500 centimeter

km - > cm

In [22]:
def km_to_cm():

  kilometer = int(input("enter your number in kilometer:"))
  centimeter = kilometer * 100000
  print(f"{kilometer} kilometer is equal to {centimeter} centimeter")

km_to_cm()

enter your number in kilometer:30
30 kilometer is equal to 3000000 centimeter

In [24]:
print("1 = km -> m , 2 = m -> km , 3 = cm -> km")
select_option = (input("enter your option"))

number = int(input("enter your number"))
km_m = (number * 1000)
m_km = (number / 1000)
cm_km = (number / 100000)
if select_option == "1":
  print(f"{number} km is equal to {km_m} m")
elif select_option == "2":
  print (f"{number} m = {m_km} km")
elif select_option == "3":
  print(f"{number} cm = {cm_km} km")
else:
  print("invalid option")

1 = km -> m , 2 = m -> km , 3 = cm -> km
enter your option4
enter your number56
invalid option